*{
  padding:0;
  margin: 0;
}


.page{

  height: 100vh;
  width: 100%;
  
}
.nav
{
  height: 75px;
  width: 100%;
  background-color: rgb(255, 213, 0);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: whitesmoke

}
.nav h1{
  padding-left:
  10px;
  font-weight: bold;
  font-size: 40px;
}
.nav i{
  font-size: 40px;
}
.title-body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


.title{
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.466), 0 5px 18px 0 rgba(0, 0, 0, 0.404);
  height: 190px;
  width:31%;
  
}
.title input{
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bolder;
  color: rgb(44, 43, 43);
  border: none;
  font-size:20px;

}
.title textarea{
  margin-top: 15px;
  margin-left: 13px;
  border: none;
  color: black;
  border:2px solid white;
  width: 90%;
  height: 80px;
  margin-bottom: 25px;

}
.title i {
  position: relative;
  left: 92%;
  background-color:rgb(59, 175, 111);
  border-radius: 50%;
 color: white;
  width: 20px;
  height: 20px;
  justify-content: center;
  padding-left: 2px;
  padding-top: 2.5px;
  
}
.title button{
  height: 40px;
  width: 50px;
  border-radius: 95%;
  border: none;
  background-color: white;
  position:relative;
  left:370px;
  color:yellow;
  font-size: 20px;
}
.title button:hover{
    background-color: rgb(255, 213, 0);
    color: white;
}
.note-body{
  display: flex;
  flex-wrap: wrap;
  margin-left:100px;
  padding-left: 60px;
  

}

.notes{
border-radius: 6px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.466), 0 5px 18px 0 rgba(0, 0, 0, 0.404);
  height: 180px;
  width:20%;
  margin-left: 10px;
  margin-top: 50px;
}


.notes h2{
  padding-top: 20px;
  margin-left: 10px;
  font-weight: bolder;
  color: rgb(44, 43, 43);

}
.notes p{
  margin-top: 15px;
  margin-left: 13px;
  color: rgb(157, 157, 157);

}
.notes button {
  position: relative;
  left: 85%;
  border: white;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  justify-content: center;
  padding-left: 2px;
  padding-top: 2.5px;
  margin-top: 15px;
  background-color: rgb(255, 213, 0) ;
  font-size:20px
}